server {
    listen 80;
    server_name docs.kshyst.ir;
        return 301 https://$host$request_uri;
}

server {
        listen 443 ssl;
        server_name docs.kshyst.ir;

        ssl_certificate /etc/ssl/docs.kshyst.ir/fullchain.pem;
        ssl_certificate_key /etc/ssl/docs.kshyst.ir/privkey.pem;

        location / {

        root /var/www/docs;
        index index.html;

        try_files $uri $uri/ =404;
    }
}
